[Desktop Entry]
Type=Application
Name=SPICE Simulator w/ Schematic Capture
MimeType=application/dio;
Exec=env "WINEPREFIX=/home/nikouu/.wine" wine start /ProgIDOpen "Analog Devices Inc..LTspice_6" %f
NoDisplay=true
StartupNotify=true
Icon=E991_LTspice.0
