[Desktop Entry]
Type=Application
Name=SPICE Simulator w/ Schematic Capture
MimeType=text/plain;
Exec=env "WINEPREFIX=/home/nikouu/.wine" wine start /ProgIDOpen "Analog Devices Inc..LTspice_1" %f
NoDisplay=true
StartupNotify=true
Icon=E991_LTspice.0
