[Unit]
Description=Music Player Daemon
After=sound.target

[Service]
ExecStart=/usr/bin/mpd --no-daemon /home/nikouu/.config/mpd/mpd.conf
Restart=always
RestartSec=5

[Install]
WantedBy=default.target
