[Desktop Entry]
Name=Check for updates
Exec=env "WINEPREFIX=/home/nikouu/.wine" wine "C:\\\\users\\\\nikouu\\\\AppData\\\\Roaming\\\\Microsoft\\\\Windows\\\\Start Menu\\\\Programs\\\\LTspice\\\\Check for updates.lnk"
Type=Application
StartupNotify=true
Path=/home/nikouu/.wine/drive_c/Program Files/ADI/LTspice/
Icon=EBAE_LTspice_1.0
StartupWMClass=updater.exe
